<!DOCTYPE html>
<html lang="en-US" id="ls-global">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <style type="text/css">
        .navbar {
            transition: all 0.4s;
            background: rgba(0,0,0,0.42);
        }

        .navbar .nav-link {
            color: #fff;
        }

        .navbar .nav-link:hover,
        .navbar .nav-link:focus {
            color: yellowgreen;
            text-decoration: none;
        }

        .navbar .navbar-brand {
            color: #fff;
        }
        
        .shadow{
            box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.58);
            -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.58);
            -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.58);
        }


        /* Change navbar styling on scroll */
        .navbar.active {
            background: #fff;
            box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.58);
            -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.58);
            -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.58);
        }

        .navbar.active .nav-link {
            color: #555;
        }

        .navbar.active .nav-link:hover,
        .navbar.active .nav-link:focus {
            color: #555;
            text-decoration: none;
            color: yellowgreen;
        }

        .navbar.active .navbar-brand {
            color: #555;
            
        }

        @@media (max-width: 767px) {

        }

        /* Change navbar styling on small viewports */
        @@media (max-width: 767.98px) {
            .mobile-nav {
                width: 100%;
            }
            .navbar-image {
                height: 80px !important;
                width: 120px !important;
            }
            .navbar {
                background: #fff;
            }
            .navbar .nav-link {
                color: #555;
            }
        }
        
        @@media (min-width: 767px) and (max-width: 991.98px) {
            .nav-link{
                font-size: 0.9rem;
            }
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">
    <title>NEEDS Property Limited </title>
    @* <link rel="apple-touch-icon" sizes="72x72" *@
    @*       href="https://shantaholdings.com/themes/real_estate/assets/img/apple-touch-icon.png"> *@
    <link rel="icon" type="image/png" href="~/images/Needs mono p.png"
          sizes="32x32">
    @* <link rel="icon" type="image/png" href="https://shantaholdings.com/themes/real_estate/assets/img/favicon-16x16.png" *@
    @*       sizes="16x16"> *@
    @* <link rel="mask-icon" href="https://shantaholdings.com/themes/real_estate/assets/img/safari-pinned-tab.svg" *@
    @*       color="#8b8232"> *@
    @* <link rel="shortcut icon" href="https://shantaholdings.com/themes/real_estate/assets/img/favicon.ico"> *@
    <link href="~/styles/css.css"
          rel="stylesheet" media="all">
    <link href="~/styles/bundle.min.css"
          rel="stylesheet" media="all">
    <link href="~/styles/style.min.css"
          rel="stylesheet" media="all">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="~/scripts/bundle.min.js"></script>
    <script src="~/scripts/remote.js"></script>
</head>
<body class="bodyclass  device-desktop">
<div class="ls-wp-container fitvidsignore ls-hidden ls-v6 ls-container ls-fullsize"
     data-layerslider-uid="LS4ky1qi8u3">
    <div data-color="#AAA000" class="ls-slide banner-slider-item slider_topper"
         data-ls="slidedelay:5500;transition2d:12;" style="width: 100%; height: 100%;">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="ls-bg"
             alt="Needs Slide">
    </div>
</div>


<div class="site-main-wrapper  mm-page mm-slideout ls-overflow-visible" id="mm-0">
    <div class="animsition open-menu-position" style="opacity: 1; transition: all 0.7s ease-out 0s;">
        <!-- Header -->
        <!-- ============================================= -->
        <div class="menu-fixed-light menu-dark-mobiles">
            <!-- Notice the menu-fixed-light class -->
            <header class="header-wrapper header-transparent header-transparent-light">
                <div class="main-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="row">
                                    <div class="menu-wrapper">
                                        <nav class="navbar shadow navbar-expand-md fixed-top">
                                            <div class="container">
                                                <div class="d-block mobile-nav">
                                                    <img href="@Url.Action("Index", "Home")" class="pull-left navbar-brand navbar-image p-0" style="height: 100px; width: 150px; margin-left: -10px!important; margin-top: -20px !important; margin-bottom: -20px!important; margin-right: 0" src="~/images/mono p logo.png" alt="logo">
                                                    
                                                    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="pull-right navbar-toggler navbar-toggler-right">
                                                        <i class="fa fa-bars"></i>
                                                    </button>
                                                </div>

                                                <div id="navbarSupportedContent" class="collapse navbar-collapse">
                                                    <ul class="navbar-nav ml-auto">
                                                        <li class="nav-item">
                                                            <a href="@Url.Action("Index", "Home")" class="nav-link text-uppercase font-weight-bold">Home <span class="sr-only">(current)</span></a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="@Url.Action("AllProjects", "Home")" class="nav-link text-uppercase font-weight-bold">Projects</a>

                                                        </li>
                                                        @* <li class="nav-item"><a href="@Url.Action("AboutUs")" class="nav-link text-uppercase font-weight-bold">About Us</a></li> *@
                                                        <li class="nav-item">
                                                            <a href="@Url.Action("Managements", "Home")" class="nav-link text-uppercase font-weight-bold">Our Management</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="@Url.Action("ContactUs", "Home")" class="nav-link text-uppercase font-weight-bold">Contact Us</a>
                                                        </li>


                                                    </ul>

                                                </div>
                                            </div>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Main-Header -->
            </header>

        </div>


        <!-- Mobile Menu -->
        <!-- End of Mobile Menu -->
    </div>
    @RenderBody()

    <footer class="site-main-footer">
        <div class="footer-bottom">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="line"></div>
                                <div class="copyright">
                                    <p>
                                        © 2020 NEEDS Properties Limited
                                        Designed &amp; Developed by
                                        <a class="hover-line" href="http://www.techpiperit.com/"
                                           target="_blank">
                                            TechPiper
                                        </a>
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="footer-social-wrapper pull-right">
                                    <a target="_blank" href="https://www.facebook.com/needspropertiesltd">
                                        <img src="~/images/facebook-icon.png"
                                             alt="Needs-fb-page">
                                    </a>
                                    @*<a target="_blank" href="#">
                                        <img src="~/images/instagram-icon.png"
                                             alt="Needs-instagram-page">
                                    </a>
                                    <a target="_blank"
                                       href="#">
                                        <img src="~/images/youtube-icon.png"
                                             alt="Needs-youtube-page">
                                    </a>
                                    <a target="_blank"
                                       href="#">
                                        <img src="~/images/pinterest-icon.png"
                                             alt="Needs-pinterest-page">
                                    </a>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</div>


</body>
<script>
    $(function () {
    $(window).on('scroll', function () {
        if ( $(window).scrollTop() > 10 ) {
            $('.navbar').addClass('active');
        } else {
            $('.navbar').removeClass('active');
        }
    });
});
</script>

</html>